h1{
  font-family: 'Poppins', sans-serif;
  color: #425F57;
}

.App{
  font-family: 'Poppins', sans-serif;
}

.filterButtons {
  border-radius: 16px;
}

.edit{
  border: none;
  color: #526D82;
}

.check{
  border: none;
  color: #198754;
}

.delete{
  border: none;
  color: #AE0F10;
}


textarea{
  resize: none;
  font-size: large;
  font-weight: 700;
}

.primary{
  color: #fff;
  background-color: #3C6255 ;
}

.primary :hover{
  color: #fff;
    background-color: #5A8F7B ;
}

.secondary{
  color: #fff;
  background-color: #99A98F  ;
}

.secondary :hover{
  color: #fff;
    background-color: #5A8F7B ;
}

.btn-success{
  color: #fff;
  background-color: #99A98F  ;
}

.btn-success :hover{
  color: #fff;
    background-color: #5A8F7B ;
}